:root {
    --green: #203731;
    --gold: #FFB612;
    --primary: var(--green);
    --secondary: var(--gold);
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

h1 {
    color: var(--primary);
    background-color: var(--secondary);
    width: fit-content;
}

h2 {
    color: var(--secondary);
    background-color: var(--primary);
    width: fit-content;
}

li.day {
    font-size: 1.2rem;
    color: var(--primary);
    margin-block-start: .5rem;
}

ul.pairing {
    /* background-color: var(--primary); */
    margin-block-start: .3rem;

}
li.pairing {
    /* color: var(--secondary); */
    margin-block-start: .3rem;
}

p.contact {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
}

p.contact span.name {
    font-weight: bolder;
}

a[href*="tel:"] {
    font-style: italic;
    color: var(--primary);
    /* margin-inline-start: 2rem; */
    text-decoration: none;

    /* &::before {
        content:'📞';
    } */
}

a[href*="mailto:"] {
    color: var(--primary);
    /* margin-inline-start: 2rem; */
    /* text-decoration: none; */

    /* &::before {
        content:'✉️';
    } */
}




